<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <%= render partial: "form", locals: {todo: todo} %>
    <% end %>
    <%= render partial: "form", locals: {todo: Todo.new} %>
  </tbody>
</table>
